/*
*  stylesheets for the Error Page 
*/
.error > h1 {
  font-size: 3em;
  text-align: center;
  color: #e67e22;
  margin-top: 150px;
  margin-left: 70px;
}
.error > p {
  font-size: 16px;
  line-height: 1.3em;
  font-weight: 300;
  text-align: center;
}
.btn {
  color: #e67e22;
}

@media (max-width: 859px) {
  .btn {
    float: right;
    margin-right: 90px;
  }
}
