/*
* stylesheets for the Landing Component will be presented in this file.
*/
.Landing {
  margin: 0 auto;
  text-align: center;
  background: #ecf0f1;
  max-width: 1200px;
}

p {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  line-height: 1.3em;
}
.jumbotron > h2 {
  font-family: "Bungee", cursive;
}
/* Media Queries for responsiveness */
@media (max-width: 732px) {
  .jumbotron > h2 {
    font-size: 50px;
  }
}
