/*
* stylesheets for the Landing Component will be presented in this file.
*/
.Landing {
    margin: 0 auto;
    text-align: center;
}

h1 {
  font-family: "Bungee", cursive;
}

p {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    line-height: 1.3em;
}

