/*
* Movie Detail stylesheets 
*/
.movie-detail {
  margin: 0 auto;  
  max-width: 100%;
  max-height: 100%;
}
.movie-detail h3,
h5 {
  color: #34495e;
  font-family: "Raleway", sans-serif;
}
.movie-detail p {
  font-family: "Raleway", sans-serif;
  line-height: 1.5em;
  font-weight: 300;
  font-size: 16px;
  text-align: center;
}

.movie-detail img {
  height: 350px;
}
.movie-detail h2 {
  font-family: "Poiret One", cursive;
  color: white;
}

.movie-detail h2,
h5 {
  margin-left: 5px;
  color: #34495e;
}

iframe {
  margin-left: 30px;
  margin-top: 74px;
}

.overview {
  margin-top: 75px;
  font-size: 20px;
  line-height: 1.5em;
  font-weight: 300;
  color: #34495e;
  font-family: "Raleway", sans-serif;
}

button {
    margin-top: 5px;
}
/* Media Queries */
@media (max-width: 859px)  {
   iframe {
       max-width: 82%;
       border-radius: 5px;
   }
   .overview {
       font-size: 16px;
       text-align: center;
   }
   img {
       float: right;
       margin-top: 2em;
       margin-right: 30px;

   }
   .btn {
       margin-left: 32px;
       margin-top: 10px;
   }
}