/*
* Stylesheets for the Movies Component will be here 
*/
.main-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 1200px;
    
}
.main-container  img {
    height: 350px;
    border-radius: 5px;
    
}

