/*
* styles for the detailed page of TV details 
*/
.tv-detail {
  max-width: 1200px;
}

.tv-detail h3,
h5,
h6 {
  color: #34495e;
  font-family: "Raleway", sans-serif;
}
.tv-detail p {
  font-family: "Raleway", sans-serif;
  line-height: 1.5em;
  font-weight: 300;
  font-size: 16px;
  text-align: center;
}

.tv-detail img {
  height: 350px;
}

.overview {
  margin-top: 75px;
  font-size: 20px;
  line-height: 1.5em;
  font-weight: 300;
  color: #34495e;
  font-family: "Raleway", sans-serif;
}

